body{
    background-image: url("../images/intersection.png");
    display: flex;
    flex-direction: column;
    height:100vh;
} 

input{
    width: 90%;
    margin-left:10px;
    height:25px;
    margin-top:-20px;
    border:1px solid #ddd;
}

button{
    background-color:#4aaaa5;
    margin:10px;
    padding:10px;
    color:#fff;
}

h1{
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    padding: 10px;
    font-size: 20px;
    margin-left:20px;
}
.logo{
    color:#fff;
    background-color:#4aaaa5;
    padding:30px;
    align-self: flex-end;
    margin-left:-15%;
}

#menu-bar{
    margin-bottom: 35px;
    width: 200px;
    display:flex;
    justify-content: space-around;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 0 auto;
    border-bottom: 2px solid #ccc;
    width:100%;
    margin-bottom: 70px; 
    background-color:#fff;
    padding-top: 30px;
}

.main-content{
    margin-left:80px;
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
}

section{
    background-color: #fff;
    width:45%;
    margin-bottom: 5%;
    padding:20px;
    overflow:auto;
    border:2px solid #ddd;
}
.portfolio{
    display:flex;
    flex-flow: row wrap;
    width: 50%;
    margin-left:0;
}

hr{
    color:#ccc;
    width:90%;
}

aside{
    background-color: #fff;
    width: 20%;
    margin-bottom: 5%;
    padding:20px;
    margin-left: 120px;
    height: 120px;
    border:2px solid #ddd;
}

.icon{
    display:flex;
    justify-content:space-around;
    margin-right:10%;
}

#portfolio-aside{
    margin-left:70px;
}
.container1{
    position:relative;
    width:275px;
    margin: 10px;
    
}
.portfolio-image{
    width:275px;
    height:200px;
}

.portfolio-text{
    position:absolute;
    width:96%;
    height:40px;
    margin:10px;
    background-color: #4aaaa5;
    color:#fff;
    text-align: center;
    bottom: 20px;
    line-height:40px;
}

footer{
    flex-shrink: 0;    
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #666;
    height:15%;
    color: #ccc;
    font-size: 11px;
    width:100%;
    border-top: 10px solid #4aaaa5;
}
.nav-links{
    font-size:13px;
}

a:link{
    color: #777777;
    text-decoration: none;
}
a:visited{
    color: #777777;
    text-decoration: none;
}
.normal-text{

font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img{
    margin: 5%;
}
p{
    margin-top:5px;
    padding: 10px;
    font-size: 15px;
}

#bigger-box{
    height:150px;
}

